.dashboard {
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
}

.dashboard__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  justify-items: center;
}
